{% extends 'base.twig' %}

{% block contents %}
    <script type="text/javascript" src="{{ repository_path('~/resource/knockout-3.1.0.js') }}"></script>
    <script type="text/javascript" src="{{ repository_path('~/resource/getting-started.js') }}"></script>
    <h2>Type Git Hub Repository</h2>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">github.com/</span>
        <input type="text" class="form-control" placeholder="User Name" data-bind="value: userName"/>
        <span class="input-group-addon">/</span>
        <input type="text" class="form-control" placeholder="Repository Name" data-bind="value: repositoryName"/>
    </div>
    <hr />
    <h2>Publish Your Blog</h2>
    <pre><code># Clone Git Pub Skeleton
$ git clone https://github.com/gitpub/skeleton.git <!-- ko text: repositoryName --><!-- /ko -->
$ cd <!-- ko text: repositoryName --><!-- /ko -->

# Register Repository For Your Blog
$ curl -u '<!-- ko text: userName --><!-- /ko -->' https://api.github.com/user/repos -d "{\"name\":\"<!-- ko text: repositoryName --><!-- /ko -->\"}"
Enter host password for user '<!-- ko text: userName --><!-- /ko -->':
$ git remote set-url origin git@github.com:<!-- ko text: userName --><!-- /ko -->/<!-- ko text: repositoryName --><!-- /ko -->.git
$ git push -u origin master

# Publish Your Blog
$ wget -q -O - http://<!-- ko text: hostname --><!-- /ko -->/<!-- ko text: userName --><!-- /ko -->/<!-- ko text: repositoryName --><!-- /ko -->/~/pull
{"state":"success"}</code></pre>

    <h2>Access Your Blog</h2>
    <a data-bind="attr: { href: '/' + userName() + '/' + repositoryName() + '/'}">http://<!-- ko text: hostname --><!-- /ko -->/<!-- ko text: userName --><!-- /ko -->/<!-- ko text: repositoryName --><!-- /ko -->/</a>
{% endblock %}
